.signUpPageContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.leftSide {
	flex: 1;
}

.rightSide {
	flex: 1;
	padding: 0 24px;
}

.signUpForm {
	max-width: 550px;
	margin: 0 auto;
}

.inputForm {
	width: 400px;
}
