.loginPageContainer {
	display: flex;
	height: 100vh;
}

.leftSide {
	flex: 1;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.rightSide {
	flex: 1;
}

.loginHeader h1 {
	margin-bottom: 20px;
}

.loginForm {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	text-align: left !important;
}

.inputField1 {
	margin-left: 24px;
}

.inputField {
	width: 450px;
	height: 40px;
	margin-bottom: 10px;
	border: 1px solid #3498db;
	border-radius: 5px;
	padding: 0 10px;
}

.checkboxForgot {
	display: flex;
	align-items: center;

	width: 450px;
	margin-bottom: 10px;
}

.checkboxForgot label {
	margin-left: 5px;
}

.formItemsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.forgotPassword {
	color: #3498db;
}

.loginButton {
	width: 250px;
	height: 40px;
	background-color: #125394;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	font-weight: bold;
	font-size: larger;
	text-align: center;
}

.loginButton:hover {
	background-color: #2c3e50;
}

.loginInput {
	display: flex;
	flex-direction: column;
}

.formActions {
	display: flex;
	justify-content: space-between;
}
